* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.quote-block {
    background-color: #E5E7EB;
}

.call-to-action,
button {
    background-color: #3882F6;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.logo {
    font-size: 24px;
}

.quote {
    font-weight: 100;
    font-style: italic;
}

.main-text,
.logo {
    color: #F9FAF8;
}

.secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.info-head,
.quote-block {
    font-size: 36px;
    color: #1F2937
}

p, ul {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');